@model BookListViewModel

<div class="row">
    @foreach (var item in Model.Books)
    {
        <partial name="components//_bookCard" model="item" />

        <div class="modal" id="exampleModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <partial name="components//_bookDetails" model="item"/>
                </div>
            </div>
        </div>
    }
</div>



