@model Loan

@{
    ViewData["Title"] = "CreateLoan";
}

<h4>Loan a book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookLoanDate" class="control-label"></label>
                <input class="form-control" placeholder="@DateTime.Now.ToShortDateString()" disabled />

                <span asp-validation-for="BookLoanDate" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="DaysToLoan" class="control-label"></label>
                <input asp-for="DaysToLoan" class="form-control" placeholder="30"/>
                <span asp-validation-for="DaysToLoan" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label" >Customer</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label">Book</label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>    
</div>

<div>
    <a asp-action="Start">Back to start</a>
</div>

