@model Book


<div class="col-sm-2">
    <div class="card">
        <img src="@Model.Thumbnail" class="card-img-top">
        <div class="card-body">
            <h7 class="card-title">@Model.Title</h7>
        </div>
    </div>

</div>
